@page
@model FrontEnd.Pages.Sale.CreateModel

@{
    ViewData["Title"] = "Create";
}

    <script type="text/javascript">
    function setProductPrice(event) {
        
        var selectElement = event.target;

        var value = selectElement.value;
        document.getElementById("productPrice").value = @ViewBag.;
    
}
    </script>
<h2>Create</h2>

<h4>Sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sales.SalesRepresentativeId" class="control-label"></label>
                <select asp-for="Sales.SalesRepresentativeId" class="form-control" asp-items="ViewBag.SalesRepresentativeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sales.RetailStoreId" class="control-label"></label>
                <select asp-for="Sales.RetailStoreId" class="form-control" asp-items="ViewBag.RetailStoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sales.ProductId" class="control-label"></label>
                <select asp-for="Sales.ProductId" class="form-control" asp-items="ViewBag.ProductId" onchange="setProductPrice" ></select>
            </div>
            <div class="form-group">
                <label class="control-label">Unit Price</label>
                <text id="productPrice"></text>
            </div>
            <div class="form-group">
                <label asp-for="Sales.Quantity" class="control-label"></label>
                <input asp-for="Sales.Quantity" class="form-control" />
                <span asp-validation-for="Sales.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.OrderDate" class="control-label"></label>
                <input asp-for="Sales.OrderDate" class="form-control" />
                <span asp-validation-for="Sales.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.TotalPrice" class="control-label"></label>
                <input asp-for="Sales.TotalPrice" class="form-control" disabled="disabled" id="totalPrice" />
                <span asp-validation-for="Sales.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.Comission" class="control-label"></label>
                <input asp-for="Sales.Comission" class="form-control" />
                <span asp-validation-for="Sales.Comission" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="form-group container">
        <a asp-page="Index">Back to List</a>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
