@page
@model FrontEnd.Pages.Sale.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sales.Id" />
            <div class="form-group">
                <label asp-for="Sales.SalesRepresentativeId" class="control-label"></label>
                <select asp-for="Sales.SalesRepresentativeId" class="form-control" asp-items="ViewBag.SalesRepresentativeId"></select>
                <span asp-validation-for="Sales.SalesRepresentativeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.RetailStoreId" class="control-label"></label>
                <select asp-for="Sales.RetailStoreId" class="form-control" asp-items="ViewBag.RetailStoreId"></select>
                <span asp-validation-for="Sales.RetailStoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.OrderDate" class="control-label"></label>
                <input asp-for="Sales.OrderDate" class="form-control" />
                <span asp-validation-for="Sales.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.TotalPrice" class="control-label"></label>
                <input asp-for="Sales.TotalPrice" class="form-control" />
                <span asp-validation-for="Sales.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.Comission" class="control-label"></label>
                <input asp-for="Sales.Comission" class="form-control" />
                <span asp-validation-for="Sales.Comission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.ProductId" class="control-label"></label>
                <select asp-for="Sales.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="Sales.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.Quantity" class="control-label"></label>
                <input asp-for="Sales.Quantity" class="form-control" />
                <span asp-validation-for="Sales.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
