@page
@model FrontEnd.Pages.SaleRepresentative.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SalesRepresentatives</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesRepresentatives.Person" class="control-label"></label>
                <select asp-for="SalesRepresentatives.PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesRepresentatives.JobTitle" class="control-label"></label>
                <input asp-for="SalesRepresentatives.JobTitle" class="form-control" />
                <span asp-validation-for="SalesRepresentatives.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesRepresentatives.PromotionAgency" class="control-label"></label>
                <select asp-for="SalesRepresentatives.PromotionAgencyId" class ="form-control" asp-items="ViewBag.PromotionAgencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesRepresentatives.RetailStore" class="control-label"></label>
                <select asp-for="SalesRepresentatives.RetailStoreId" class ="form-control" asp-items="ViewBag.RetailStoreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
