@page
@model FrontEnd.Pages.Shared._ProductListModel
@{
    ViewData["Title"] = "_ProductList";
}
<div class="form-group">
    <label asp-for="Products.Description" class="control-label"></label>
    <select asp-for="Products.Id" class="form-control" asp-items="ViewBag.ProductId"></select>
</div>